# Virtual Environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database files
instance/
*.db
*.sqlite3

# Environment variables file (sensitive)

# VS Code settings
.vscode/
config.bat
node_modules
temp_auto_push.bat
temp_interactive_push.bat
